body {
    margin: 0px;
}

#header2 {
    background: black;
    padding: 10;
}

a {
    color: gray;
    font-weight: bold;
}

a:hover {
    color: white;
}

.header-main {
    background: black;
}

.lead {
    margin: auto;
    font-size: 60
}

.pull-right {
    float: right;
    margin: -3 0 auto;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav>li,
h2 {
    float: left;
}

.text {
    text-decoration: none;
    font-size: 25;
}

.text {
    color: gray;
    font-weight: bold;
}

.navbar {
    position: relative;
    min-height: 50;
    margin: auto;
    border: 1px solid transparent;
}

.navbar-nav {
    margin: 7.5px - 15px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    font-size: 25;
}

header {
    display: block;
}