#header-center {
    margin: 0 auto;
    text-align: center;
    font-size: 100px;
    width: 1200;
}

#he-2 {
    height: -30px;
}

#he-2 ul {
    font-size:20px;
}

#he-2 legend {
    font-size: 30px;
    text-align: center;
}

#he-3 {
    width: 150;
    height: 400;
}